{% extends 'Health/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">Home Page</h3>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 font-weight-bold"><b>Healthcare Facilities</b></h1>
            <p class="lead">Transformation of  unsustainable healthcare systems into sustainable ones.It also equalize the relationships between
                    media, professionals and  patients.
                   Moreover it provide faster and more effective solutions for various  diseases and
                   embrace healthcare
                  technologies in order to stay relevant in upcoming years.
                  As a result it promotes the development of high quality hospital services.</p>
        </div>
    </div>
</div>

{% endblock content %}